# Dependencies
node_modules/
dist/
.astro/
.vscode/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.env

# Astro specific
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db
